/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */
/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */

.page-loader {
    position: fixed;
    top: 0;
    inset: 0;
    height: 100%;
    background-color: white;
    z-index: 10000;
}

.page-loader .page-loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-loader .page-loader-wrapper .spinner {
    width: 90px;
    height: 90px;
}

/* Typography */

.text-xxs {
    font-size: 0.65rem !important;
    line-height: 0.9rem !important;
}

.text-xs {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
}

.text-sm {
    font-size: 0.85rem !important;
    line-height: 1.25rem !important;
}

.text-md {
    font-size: 1rem !important;
    line-height: 1.5rem !important; 
}

.text-lg {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
}

.text-wrap {
    white-space: normal !important;
}

/* Alert */

.alert {
    font-weight: bold;
}

/* Table */

.table td, .table th {
    padding-top: 0.95rem !important;
    padding-bottom: 0.95rem !important;
}

.table-sm {
    width: 100% !important;
}

.table-sm th, .table-sm td {
    padding: 0.75rem 1rem;
}

/* Image */

.preview-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 0.25rem;
}

/* Product */

.product-image {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1;
}

.product-image-sm {
    width: 50px;
    height: 50px;
    border-radius: .25rem !important;
    margin-right: 1rem;
    object-fit: cover;
    object-position: center;
}

/* Card Header */

.card-header {
    white-space: nowrap !important;
}

.card-header .form-control {
    height: max-content !important;
}

/* Height */

.h-lg-100 {
    height: max-content;
}

.h-xl-100 {
    height: max-content;
}

@media screen and (min-width: 992px) {

    .h-lg-100 {
        height: 100%;
    }

}

@media screen and (min-width: 1200px) {

    .h-xl-100 {
        height: 100%;
    }

}

/* Select 2 */

.select2 {
    width: 100% !important;
}

.select2 .select2-container {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table;
  table-layout: fixed;
}

/* Footer */

.footer {
    padding: 20px 30px 20px 30px;
    margin-top: 40px;
    color: #98a6ad;
    border-top: 1px solid #e3eaef;
    width: 100%; 
}

/* Sidebar */

.main-sidebar .sidebar-logo {
    height: 325%;
    margin-top: -2rem;
}